html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  background-image: url("../img/schermata1.png");
  background-size: cover; /* You can use other values like 'contain' or specific dimensions */
  width: 1800px; 
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: rgb(31, 31, 31);
}

.right {
  right: 0;
  background-color: rgb(31, 31, 31);
}

.dato {
  font-family: 'helvetica neue',sans-serif;
  font-size: 90px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(255, 0, 0, 0); /* testo trasparente */
}



canvas {
  top: 2%;
  padding-left: -100px;
  border-radius: 10px;
  width: 30px;
  height:30px;
  
  z-index: 100;
}

#defaultCanvas0 {
  position: fixed; /* or 'absolute' depending on your layout */
  z-index: 9998; /* Set a high z-index value */
}

#label {
  position:absolute; 
  top: 800px;
  left: 7%;
  height: auto;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  background-color: #eee;
  color: #000;
  border-radius: 10px;
  padding: 20px 50px;
  font-family: 'Helvetica neue', Helvetica, sans-serif;
  width: auto;
  transform: translate(-50%, -50%);
  /* display: none; */
  z-index: 1001;
  background-color: rgb(243, 243, 243);
}

#label-container {
  /* display: none; */
  padding: 5px;

}

#frase{
  font-size: 30px;
}




/* timer*/



.timer {
  position: fixed;
  z-index: 9999;
  font-family: sans-serif;
  display: inline-block;
  padding: 24px 32px;
  border-radius: 10px;
  background: white;
  left: 82%;
  top: 20px;
}

.timer__part {
  font-size: 36px;
  font-weight: bold;
}

.timer__btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

.timer__btn--start {
  background: #00b84c;
}

.timer__btn--stop {
  background: #ff0256;
}
