

body {
  width: auto;
  height: 120%;
  background-image: url("img/background_1.gif");
  background-repeat: no-repeat;
  background-color: black;
  background-size: 120%;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  font-size: 16px; /* Set a base font size */
}


#contenitore {
  
  width: 100%;
  height: auto;

}

#convert_text {
  text-align: left;
  width: 100%;
}

#titolo {
  height: auto;
  font-size: 30px;
  text-align: left;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-top: 30px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

#sottotitolo {
  font-size: 20px;
  text-align: left;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: -8px;
}


#bottone {
  padding: 5px;
  margin-left: 0%;
  width: 168px;
  height: 38px;
  margin-top: 30px;
  border-radius: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  border-width: 0px;
  background: rgba(217, 217, 217, 0.25);
  backdrop-filter: blur(25px);
  color: white;

}


#question-container {
  margin-top: 20px;
  margin-left: 30px;
  width: 80%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 92.30%;

}


#domanda {
  width: 80%;
  margin-left: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#risposta {
  width: 80%;
  margin-left: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#convert_text {
  margin-left: 30px;
  margin-top: 10px;
  width: 80%;
  height: auto;
  border-radius: 10px;
  resize: none;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  background-color: transparent;
  border: none;
  padding-top: 10px;
  /* opacity: 10%; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  word-wrap: break-word;
  text-align: left;
}


button {
  padding: 5px;
  margin-left: 0%;
  width: 168px;
  height: 38px;
  margin-top: 40px;
  border-radius: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  border-width: 0px;
  background: rgba(217, 217, 217, 0.25);
  backdrop-filter: blur(25px);
  color: white;

}


#answer-container{
  width: 80%;
  margin-left: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 600px;
  color: #fff;
}

p {
  font-size: 15px;
  text-align: left;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0px;
  padding-top: 25px;
  margin-left: 30px;
  
}


#contenitore-archivio{
  padding: 5px;
  margin-left: 200px;
  width: 168px;
  height: 38px;
  margin-top: 40px;
  border-radius: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  border-width: 0px;
  background: rgba(217, 217, 217, 0.25);
  backdrop-filter: blur(25px);
  color: white;
  display: block;
  text-align: center;
  
}





/* #archivio {
 width: 80%;
 margin-top: auto;
 margin-left: -6px;
 
  
} */

#risposte-archivio {
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
  line-height: 18px;
  width: 80%;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background: rgba(217, 217, 217, 0.25);
  backdrop-filter: blur(25px);  */
  margin-left: 30px;
  margin-top: 20px;
   
 }
